<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>JobsProjectFolderName</key>
	<string>$(JOBS_PROJECT_FOLDER_NAME)</string>
	<key>NSCameraUsageDescription</key>
	<string>需要访问相机以录制视频。</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>用于扫描、连接并与附近的 BLE 设备交换数据。</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>用于兼容旧系统访问附近的 BLE 设备。</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>需要访问麦克风以录制和管理本地音频。</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
	</array>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>需要访问相册以保存录制视频。</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>需要添加视频到相册。</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
